/*
font-family: 'Saira Condensed', sans-serif;
font-family: 'The Nautigal', cursive;
*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body{
    background-color: #659dbd;
    font-family:'Saira Condensed', sans-serif;
}
h1{
    font-weight: 700;
    font-size: 50px;
    padding: 20px; 
}

header{
    background-color: #fbeec1;
}
#source{
    max-width: 400px;
    margin:35px 0;
    padding: 20px;
    background-color: #fbeec1;
    font-size: 20px;
    border-radius: 10px;
    font-weight: 700;

}
.news{
    display: flex;
    flex-wrap: wrap;
    margin: 40px 0;
}
img{
    width: 270px;
    height: 260px;
    border-radius: 5px;
    margin-right: 20px;
}
.source{
    margin: 10px 0;
    max-width: 900px;
    max-height: 250px;
}
h2{
    font-size: 20px;
    /*background-color: #8d8741;*/
    display: inline;
    padding: 5px;
    font-weight: 700;
    border-radius: 20px;
}
p{
    font-size:30px;
    margin-top: 20px;
    font-weight: 500;
    color:black;
}
button{
    margin-top: 35px;
    font-size: 17px;
    border-radius: 20px;
    padding: 7px;
    background-color:#fbeec9;
    border:0;
}
.container{
    max-width: 1200px;
    margin: 100px auto;
}
@keyframes donut-spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  .donut {
    display: inline-block;
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-left-color: #7983ff;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: donut-spin 1.2s linear infinite;
  }